@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #FFDFD3;
}
.card{
    border-radius: 20px;
    width: 50%;
    height: auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    margin: 5%;
    margin-bottom: 3%;
}

h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5vw;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.25vw;
}

.btn{
    font-size: 1vw;
    margin: 3%;
    border-radius: 25px;
    text-align: center;
    width: 7vw;
    margin-left: 25%;
}

