{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title></title>
  </head>
  <body>
      <h2 class=text-center>Halo, apa kabar?</h2>
      <div class="card mx-auto justify-content-center">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
          <button type="submit" id ="submit" class="btn" style="background-color: #ffd87a; min-width: 50%; font-size: 80%;">Submit</button>
        </form>
        {% if status %}
        {% for status in status %}
        <h4 id = 'status'>{{ status.status }}</h4>
        <p>{{ status.date }}</p>
        {% endfor %}
        {% else %}
        <h4>There's No Status Yet</h4>
        {% endif %}
        </div>
      </div>
  </body>
</html>
